{% extends "fighter_analysis/base.html" %}
{% block content %}
<!--TODO: Create links to each model developed and serve predictions using separate FlaskAPI-->
<main class="container mx-auto px-6 py-16 md:py-20 text-center flex-grow">
    <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-white leading-tight mb-4 ">
      <span class="text-red-500 ">AI Models</span> for UFC
    </h1>
  <div class="max-w-4xl mx-auto ">
    <p class="text-lg md:text-xl text-gray-400 mb-16 mt-8">
      Use and learn about our AI-based predictive models
    </p>
  </div>
</main>
{% endblock %}